.list-md {
    padding: 8px;
}

.item-activity {
    color: #A0AEC0 !important;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;

    ion-icon {
        width: 20px;
    }
    ion-icon.ios {
        margin: 0;
    }
}

ion-card-header {
    padding: 10px 10px 0;

    ion-card-title {
        font-size: 32px;
        font-weight: normal;
        color: #FFF;
    }
}
.footer-button {
    padding-top: 6px;
    padding-bottom: 6px;
}

