<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">{{this.shop.name}}</ion-title>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>

    <div class="add-image">
        <div class="add-image-background">
            <ion-skeleton-text
                class="card-img-skeleton"
                [hidden]="flyer.loaded"
                animated>
            </ion-skeleton-text>
            <ion-img
                [src]="flyer.photoUrl"
                class="card-img"
                (ionImgDidLoad)="flyer.loaded = true">
            </ion-img>
        </div>
    </div>

    <ion-list class="ion-padding-horizontal" lines="none">
        <ion-list-header class="flyer-title">{{flyer.title}}</ion-list-header>
        <ion-item class="" *ngFor="let word of flyer.textList; let i = index">
            <ion-input type="text" readonly [value]="word"><b>&#8226;</b>&nbsp;&nbsp;</ion-input>
        </ion-item>
    </ion-list>

</ion-content>
