img {
    border-radius: 5px;
}

.item-word {
    --highlight-height: 0;
    border: 2px solid #ffffff3d;
    border-radius: 4px;
}
.flyer-title {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
}
