ion-col.md {
    display: flex;
}

.header-image {

    &--info {
        position: absolute;
        bottom: 0;
        width: 100%;
        .info-category {
            font-size: 13px;
            text-transform: uppercase;
            --background: transparent;
            height: 40px;

            ion-icon {
                width: 15px;
                margin-right: 4px;
                color: #FFF
            }
        }
        .info-title {
            position: relative;
            ion-text {
                font-size: 20px;
                margin-left: 15px;
                ion-icon {
                    position: relative;
                    top: 2px;
                }
            }

        }
        .info-rating {
            font-size: 12px;
            --background: transparent;
            width: 100%;
            height: 40px;

            .label-flex {
                display: flex;
                justify-content: space-between;
            }
            ion-icon {
                width: 10px;
                margin-right: 4px;
                color: #FFF
            }
        }

    }
}
