
<ion-header class="header-image">
    <ion-toolbar class="background-transparent">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/map/search"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-img [src]="place.photoUrl" alt="Background Image"></ion-img>

    <div class="header-image--info">
        <ion-item lines="none" class="info-category">
            <ion-icon slot="start" [src]="'assets/category-icons/'+place.icon+'.svg'"></ion-icon>
            &nbsp;&nbsp;
            <ion-label>ALMACENES</ion-label>
        </ion-item>
        <div class="info-title">
            <ion-text color="light">
                {{place.name}}
                <ion-icon name="shield-checkmark" color="success" *ngIf="place.status === STATUS.VERIFIED"></ion-icon>
            </ion-text>
        </div>
        <ion-item lines="none" class="info-rating">
            <ion-icon slot="start" name="star" color="pagami"></ion-icon>
            <ion-icon slot="start" name="star" color="pagami"></ion-icon>
            <ion-icon slot="start" name="star" color="pagami"></ion-icon>
            <ion-icon slot="start" name="star" color="pagami"></ion-icon>
            <ion-icon slot="start" name="star-outline"></ion-icon>
            &nbsp;
            <ion-label>24 comentarios</ion-label>
        </ion-item>
    </div>
</ion-header>

<ion-content>
    <ion-list lines="none" class="inputs-container">
        <ion-item color="pagami-surface" >
            <ion-label position="floating">WhatsApp</ion-label>
            <ion-input readonly [value]="place.samePhone ? place.phone : place.whatsapp"></ion-input>
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="pagami-surface">
            <ion-label position="floating">Telefono</ion-label>
            <ion-input readonly [value]="place.phone"></ion-input>
            <ion-icon src="assets/icon/call.svg" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="pagami-surface">
            <ion-label position="floating">Pagina Web</ion-label>
            <ion-input readonly [value]="place.website"></ion-input>
            <ion-icon src="assets/icon/website.svg" slot="start"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list class="link-buttons-container" lines="none" *ngIf="place.status === STATUS.VERIFIED">
        <ion-item button routerLink="/app/shop/products" color="pagami-surface">
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
            <ion-label>Productos</ion-label>
        </ion-item>
        <ion-item button routerLink="/app/shop/services" color="pagami-surface">
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
            <ion-label>Servicios</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
