.image-user-center {
    margin: 50px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-avatar {
        width: 120px;
        height: 120px;
    }
}

.group-flex {
    display: flex;
    ion-item:nth-child(1) {
        width: 120px;
        border-radius: 5px 0 0 0;
    }
    ion-item:nth-child(2) {
        width: 100%;
        border-radius: 0 5px 0 0;
    }
}


