.image-user-center{
    margin: 50px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-avatar {
        width: 120px;
        height: 120px;
    }
}


.results-search{
    --background: var(--ion-color-pagami-surface);
    position: relative;
    top: -25px;
    padding: 0 20px;
    ion-label {
        padding-left: 10px
    }
}
.border-radius-bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
