.terms-content {
  margin: 24px;
}
.terms-subtitle{
  font-size: 14px;
  line-height: 19px;
  margin: 28px 0 5px 0;
  font-weight: lighter;
}
.terms-text{
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  color: #A0AEC0;
}
.terms-check {
  display: flex;
  align-items: center;
  margin: 5px 5px 28px;
}
ion-label{
  font-family: var(--ion-font-family);
  font-size: 12px;
  color: #FFFFFF;
}
