.terms-content {
  margin: 24px;
}
.terms-subtitle{
  font-size: 14px;
  line-height: 19px;
  margin: 28px 0 5px 0;
  font-weight: lighter;
}
.terms-text{
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  color: #A0AEC0;
}

