
<ion-content>

    <ion-list *ngIf="!loading && !error && !empty" class="ion-padding">

        <ion-item-group class="ion-padding-vertical" *ngIf="showNotification">
            <ion-item button (click)="showNotification = false" detailIcon="" lines="none" color="pagami-surface" class="notification">
                <ion-note slot="end" color="pagami" >OKAY</ion-note>
                <ion-label>Tienes {{records.length | plural:'nuevo registro'}}</ion-label>
            </ion-item>
        </ion-item-group>

        <ion-item-group class="animated fast slideInUp">
            <ion-card class="card-place"
                      *ngFor="let record of records"
                      [button]="true"
                      (click)="showRecord(record)">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="11">
                            <ion-card-subtitle>
                                {{ record.createTime | date:'d/M/y'}} · {{ record.createTime | date:'shortTime'}} ·
                                <span>{{record.location.country}}</span>
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col size="1" class="padding-icon-link">
                            <ion-icon name="arrow-forward" color="light" style="font-size: 20px"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar class="border-white-1px">
                                <ion-img [src]="placeThumbnailPhoto(record)"></ion-img>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="10">
                            <ion-card-title>{{record.name | capitalize}}</ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item-group>
    </ion-list>

    <ion-list *ngIf="loading || error" class="ion-padding">
        <ion-item-group>
            <ion-card class="card-place" *ngFor="let dummy of ' '.repeat(5).split('')">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="11">
                            <ion-card-subtitle>
                                <ion-skeleton-text [animated]="!error" style="width: 85%"></ion-skeleton-text>
                            </ion-card-subtitle>
                        </ion-col>
                        <ion-col size="1">
                            <ion-skeleton-text [animated]="!error" style="width: 90%; font-size: 20px"></ion-skeleton-text>
                        </ion-col>
                    </ion-row>
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar class="border-white-1px">
                                <ion-skeleton-text></ion-skeleton-text>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="8">
                            <ion-skeleton-text [animated]="!error" style="width: 70%"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="3">
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item-group>
    </ion-list>

    <div *ngIf="empty" class="no-registers animated fast fadeIn">
        <ion-img src="assets/img/registers-no-registers.png"></ion-img>
        <ion-text>
            Todo listo <br>
            <span>No hay nada en registros</span>
        </ion-text>
    </div>

</ion-content>
