.notification {
    border-radius: 4px;
    ion-note{
        font-size: 16px;
        padding-top: 15px;
    }
}
.padding-icon-link{
    padding: 5px 0 0;
}

.footer-button {
    padding-top: 6px;
    padding-bottom: 6px;
}


