
ion-searchbar {
  height: 30px;
  font-size: 16px;
  color: #718096;
}

ion-searchbar > div > input{
  padding: 0 !important;
}

.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}

.header-search-map {
    border: unset;
    box-shadow: unset;
}

.nearby-expanded {
    border-radius: 8px;
    background: var(--ion-background-color);
    padding-bottom: 65px;

    .btn-category {
        background: var(--ion-color-pagami-surface);

        &__check {
            position: absolute;
            display: none;
            top: 8px;
            right: 0;
            width: 14px;
        }
    }

    .selected-category {
        .btn-category__check {
            display: block;
        }
    }
}

.scrollable-draw {
    justify-content: center;
    padding: 9px;

    &-children {
        width: 42px;
        height: 4px;
        border-radius: 2px;
        background: #CBD5E0;
    }
}

.nearby-title {
    font-size: 16px;
    color: #FFFFFF;
}

.size-icon-mini {
    position: relative;
    top: 2px;
    width: 12px;
}

.card {

    &-img-contain {
        height: 220px;
        position: relative;

        .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-subtitle {
        font-size: 14px;
        color: #718096 !important;
        margin: 3px;
    }

}

.cards-overflow-y {
    overflow-y: scroll;
}

.background-white {
    --background: #444;
    background: #444;
    color: #0d0d0d;
}

.background-global {
    --background: var(--ion-background-color);
    background: var(--ion-background-color);
    transition: ease 1s;
}

.footer-button {
    padding-bottom: 0;
}

.background-sheet-header {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100vw;
    background: var(--ion-background-color);
    //overflow: hidden !important;
}

ion-fab {
    z-index: 10;
}

//ion-bottom-drawer {
//    z-index: 100 !important;
//}

