
ion-searchbar {
  height: 30px;
  font-size: 16px;
  color: #718096;
}

ion-searchbar > div > input{
  padding: 0 !important;
}

.map-canvas {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: transparent;

  opacity: 0;
  transition: opacity 150ms ease-in;
}

.show-map {
  opacity: 1;
}

