<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-button slot="start" routerLink="/app/tabs/my-business" *ngIf="save">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-back-button defaultHref="/app/business-claim" *ngIf="!save"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Elige tu plan</ion-title>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content class="">

    <ion-slides class="h-100" [pager]="true">
        <ion-slide *ngFor="let plan of plans; let i = index">

            <ion-card class="card-plan" color="pagami-surface">

                <ion-card-header class="ion-padding">
                    <ion-card-title class="card-plan__name">
                        {{plan.name}}
                        <div>
                            <ion-icon name="star" color="primary" *ngFor="let i of counter(plan.stars)"></ion-icon>
                            <span *ngIf="plan.stars < 5">
                                <ion-icon name="star-outline" *ngFor="let i of counter(5 - plan.stars)"></ion-icon>
                            </span>
                        </div>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-row>
                        <ion-col size="5">
                            <ion-card-title class="card-plan__price">
                                ${{plan.amount}} USD
                            </ion-card-title>
                        </ion-col>
                        <ion-col size="7" class="ion-text-end ion-align-self-end">
                            <ion-card-subtitle class="card-plan__priceCop" >
                                ${{plan.amountCop | number}} COP / {{plan.days}} días
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>

                    <ul class="card-plan__details">
                        <li *ngFor="let item of plan.details">{{item}}</li>
                    </ul>
                </ion-card-content>

                <div class="footer-button footer-button--div --without-pt" *ngIf="!save">
                    <ion-button class="button-large" expand="block" color="pagami" type="button"
                                [disabled]="loading || !paymentMethods" (click)="pay(plan, i)">
                        <ion-spinner *ngIf="loading" class="spinner-energized"></ion-spinner>
                        <span *ngIf="!loading">Pagar</span>
                    </ion-button>
                </div>
            </ion-card>

        </ion-slide>
    </ion-slides>


</ion-content>

