ion-content {
    --background: #1a202c;
}

ion-slides {
    height: 100%;
    bottom: 10px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
}
.slide {
    &-img {
        max-height: 50%;
        max-width: 80%;
        margin: 60px 0 40px;
        pointer-events: none;
    }

    &-title {
        margin-top: 2.8rem;
        font-size: 32px;
        color: #ffffff;
    }

    &-text {
        font-size: 16px;
        color: #718096;
        line-height: 28px;
    }
}



