<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/close-to-me"></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/tutorial">
                <ion-icon name="log-in-outline" class="toolbar-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isEditing">

    <ion-list>
        <ion-item-group class="profile--section-1">
            <ion-avatar class="border-white-1px">
                <img src="assets/img/avatar-profile.jpg">
            </ion-avatar>
            <h2>Alice Clarke <ion-icon src="assets/icon/edit-pencil.svg" (click)="editProfile()" class="icon-edit"></ion-icon></h2>
            <ion-text class="text-join">Se unió el 23 de mayo 2019</ion-text>
            <h3>456 Empresas registradas</h3>
        </ion-item-group>

        <ion-list lines="none" class="inputs-container">
            <ion-item color="pagami-surface">
                <ion-label position="floating">Telefono</ion-label>
                <ion-input type="tel" value="0412-4589520"></ion-input>
                <ion-icon name="call" slot="start"></ion-icon>
            </ion-item>
            <ion-item color="pagami-surface">
                <ion-label position="floating">Ubicacion</ion-label>
                <ion-input type="text" [(ngModel)]="textSearched"></ion-input>
                <ion-icon name="location" slot="start"></ion-icon>
            </ion-item>
        </ion-list>

        <ion-item-group class="profile--section-3">
            <ion-item lines="none">
                <ion-label>Activar notificaciones</ion-label>
                <ion-toggle slot="end" name="notifications" color="pagami" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Rellenar ordenes</ion-label>
                <ion-toggle slot="end" name="orders" color="pagami" checked></ion-toggle>
            </ion-item>
        </ion-item-group>

    </ion-list>

    <div class="footer-button footer-button--div" >
        <ion-button class="button-large" expand="block" color="danger" (click)="deleteAccountConfirm()">Eliminar Cuenta</ion-button>
    </div>
</ion-content>


<ion-content #ionContentEdit *ngIf="isEditing">
    <div class="add-image">
        <div class="add-image-background">
            <ion-img [src]="previewUrl" *ngIf="previewUrl" class="img-preview"></ion-img>
            <ion-input type="file" class="input-file" accept="image/*" name="image" (change)="fileProgress($event)"></ion-input>
            <ion-fab vertical="center" horizontal="center">
                <ion-fab-button color="pagami">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>

    <ion-list lines="none" class="inputs-container">
        <ion-item color="pagami-surface">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" value="Alice"></ion-input>
            <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="pagami-surface">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" value="Clark"></ion-input>
            <ion-icon name="people" slot="start"></ion-icon>
        </ion-item>
        <ion-item color="pagami-surface">
            <ion-label position="floating">Telefono</ion-label>
            <ion-input type="tel" value="0412-4589520"></ion-input>
            <ion-icon name="call" slot="start"></ion-icon>
        </ion-item>
        <ion-item #itemLocation color="pagami-surface">
            <ion-label position="floating">Ubicacion</ion-label>
            <ion-input type="text" [(ngModel)]="textSearched" (ionChange)="searchPlace()"></ion-input>
            <ion-icon name="location" slot="start"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="places.length > 0" class="w-100 results-search" lines="none">
        <ion-item *ngFor="let place of places; let i = index" (click)="setPlace(place.description)" color="pagami-surface" [ngClass]="i === 4 ? 'border-radius-bottom' : ''">
            <ion-label>{{place.description}}</ion-label>
        </ion-item>
    </ion-list>

    <div class="footer-button" >
        <ion-row>
            <ion-col size="6">
                <ion-button class="button-small" expand="block" color="pagami-surface" (click)="editProfile()">
                    Cancelar
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button class="button-small" expand="block" color="pagami" (click)="saveProfile()">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>

