<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-button slot="start" routerLink="/app/tabs/my-business" *ngIf="save">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-back-button defaultHref="/app/business-claim" *ngIf="!save"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Elige tu plan</ion-title>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-list class="card-container">

        <ion-item-group>
            <ion-card [button]="!free" class="card-plan" [color]="free ? 'pagami-surface' : 'pagami'" [style.opacity]="free ? .5 : 1">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="10">
                            <ion-text class="card-plan__name">Emprendedor <ion-icon name="star"></ion-icon> </ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-text-end ion-no-padding" *ngIf="!free">
                            <ion-icon name="checkmark-circle" color="light" class="checkmark"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="6">
                            <ion-card-title class="card-plan__price cross-out">$12,24 USD</ion-card-title>
                        </ion-col>
                        <ion-col size="6" class="ion-text-end ion-align-self-end">
                            <ion-card-subtitle class="card-plan__details">
                                COP $39,272 / 1 año
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="free" button class="card-plan" [color]="free ? 'pagami' : 'pagami-surface'" color="pagami">
                <ion-card-header>
                    <ion-row>
                        <ion-col size="10">
                            <ion-text class="card-plan__name">Gratuito <ion-icon name="star"></ion-icon> </ion-text>
                        </ion-col>
                        <ion-col size="2" class="ion-text-end ion-no-padding" *ngIf="free">
                            <ion-icon name="checkmark-circle" color="light" class="checkmark"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col size="6">
                            <ion-card-title class="card-plan__price">$0,00 USD</ion-card-title>
                        </ion-col>
                        <ion-col size="6" class="ion-text-end ion-align-self-end">
                            <ion-card-subtitle class="card-plan__details">
                                Sin pago / 3 meses
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item-group>

    </ion-list>
</ion-content>

<footer class="footer-button" slot="fixed" *ngIf="!save">
    <ion-button class="button-large" expand="block" color="pagami" type="button" [disabled]="loading" (click)="pay()">
        <ion-spinner *ngIf="loading" class="spinner-energized"></ion-spinner>
        <span *ngIf="!loading">Pagar</span>
    </ion-button>
</footer>
