.list-md {
    padding: 8px;
}


/* *****STATUS CARDS***** */
span.status--verified {
    color: #68D391;
}
ion-text.status--verified {
    color: #FFFFFF;

    &:before {
        content: "+";
    }
}

.status--accepted {
    color: #FBD38D;
}

.status--waiting {
    color: #999;
}

.status--rejected {
    color: #E53E3E;
}

span.status--transfer {
    color: #63B3ED;
}
ion-text.status--transfer {
    color: #FFFFFF;

    &:before {
        content: "-";
    }
}

.status--incomplete{
    color: #ffbe25;
}




