
<ion-content>

    <ion-header *ngIf="beforeSaveLocation" class="header-search-map header-search-map--surface">
        <ion-grid>
            <ion-row>
                <ion-col size="1">
                    <ion-icon name="location"></ion-icon>
                </ion-col>
                <ion-col size="11">
                    <ion-searchbar placeholder="Parate frente a la empresa y guarda la ubicacion" color="pagami-surface" class="without-search-icon"></ion-searchbar>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-header>

    <div #mapCanvas class="map-canvas" style="height: 100%; width:100%"></div>

    <div class="footer-button">
        <ion-button class="button-large" expand="block" (click)="saveLocation()" color="pagami" *ngIf="beforeSaveLocation">
            Guardar ubicacion
        </ion-button>
        <ion-button class="button-large" expand="block" routerLink="/app/business-details" color="pagami" *ngIf="!beforeSaveLocation">
            Continuar
        </ion-button>
    </div>

</ion-content>


