/* ***TOOLBAR IN DIFFERENT PAGES (users/activity, terms, etc) *** */
ion-toolbar {
    //height: 56px;
    --background: var(--ion-color-pagami-surface);
    --border-width: 0 !important;

    .toolbar-icon {
        color: #ffffff;
        font-size: 27px;
    }
    ion-title.md {
        text-align: center;
    }

    ion-title.ios {
        padding: 0;
    }
}

.toolbar-simple {
    ion-title.md {
        margin-right: 48px;
    }
}

.toolbar-dual {
    .right-button {
        margin-right: 14px;
        ion-icon {
            width: 24px;
            height: 24px;
        }
    }
}

.toolbar-avatar {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.position-avatar {
    position: absolute;
    z-index: 10;
    right: 26px;
}

.md + .position-avatar {
    top: 19px;
}

.ios + .position-avatar {
    top: 18px;
}

/* END toolbar */
/*  ***********************  */

/* ***HEADER WITH IMAGE*** */
.header-image {
    height: 300px;

    ion-img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        //opacity: .8;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 1) 27%, rgba(0, 0, 0, 1) 46%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.2) 100%);
    }
}

.header-image + ion-fab {
    top: 120px;
}

/* END header */
/* ************************* */

/* ***SEARCH BAR IN CLOSE TO ME, PRODUCTS, SERVICES, ETC *** */
ion-searchbar > div > input {
    padding: 0 5px !important;
    font-weight: 500 !important;
    background: transparent !important;
    box-shadow: unset !important;
    font-size: 16px !important;
}

.top-searchbar {
    ion-searchbar {
        background: #FFFFFF;
        border-radius: 5px;
        color: var(--ion-color-pagami-text-2nd);
        div {
            input {
                margin-left: 23px;
            }
            ion-icon {
                color: var(--ion-color-pagami-text-2nd) !important;
                left: 0 !important;
            }
            ion-icon.md {
                top: 5px !important;
            }
        }
    }
}

.without-search-icon {
    ion-icon.searchbar-search-icon {
        display: none !important;
    }
}

.header-search-map {
    position: absolute;
    width: 96%;
    //height: 48px;
    margin: 2%;
    border-radius: 7px;
    border: 1px solid #d8d8d8;
    background: #FFF;
    //box-shadow: 0 0 12px #d6d6d6;
    transition: ease .4s;
    &:after {
        background: unset;
    }
    ion-grid{
        box-shadow: 0 0 12px #d6d6d6;
    }
    ion-row {
        height: 40px;
        ion-col {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ion-icon {
                color: #718096;
                padding-left: 10px;
            }
        }
    }
    &--surface {
        background: var(--ion-color-pagami-surface);
        ion-searchbar > div > input {
            font-size: 12px !important;
        }
    }
}

.searchbar-disabled {
    opacity: 1 !important;
}

/* END searchbar*/
/*  ***********************  */
