<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="#"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Detalles de la empresa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="add-image">
        <div class="add-image-background">
            <ion-img [src]="previewUrl" *ngIf="previewUrl" class="img-preview"></ion-img>
            <ion-button *ngIf="!isTest" (click)="takeImage()" class="input-file"></ion-button>
            <ion-input *ngIf="isTest" type="file" class="input-file" accept="image/*" name="image" (change)="chargeImage($event)"></ion-input>
            <ion-fab vertical="center" horizontal="center">
                <ion-fab-button color="pagami">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>
    </div>

    <form (ngSubmit)="validateForm()">
        <ion-list class="inputs-container">
            <ion-item color="pagami-surface" class="item-search" *ngIf="place.location">
                <ion-label position="floating">Dirección</ion-label>
                <ion-input type="text" required name="location" [(ngModel)]="place.location.address"></ion-input>
                <ion-icon src="assets/icon/locate-checkmark.svg" slot="start"></ion-icon>
            </ion-item>
        </ion-list>

        <ion-list class="inputs-container --without-mt">
            <ion-item color="pagami-surface">
                <ion-label position="floating">Nombre de la empresa</ion-label>
                <ion-input type="text" required name="name" [(ngModel)]="place.name"></ion-input>
                <ion-icon src="assets/icon/business.svg" slot="start"></ion-icon>
            </ion-item>
            <ion-item color="pagami-surface">
                <ion-label position="floating">Número Telefónico</ion-label>
                <ion-input type="tel" required name="phone" [(ngModel)]="place.phone" maxlength="15"></ion-input>
                <ion-icon src="assets/icon/call.svg" slot="start"></ion-icon>
            </ion-item>
        </ion-list>

        <ion-list class="inputs-container --without-mt">
            <ion-item-group class="group-flex">
                <ion-item color="pagami-surface" class="mb-0">
                    <ion-label position="floating">Código</ion-label>
                    <ion-input [(ngModel)]="place.dialCode" disabled [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
                <ion-item color="pagami-surface" class="mb-0">
                    <ion-label position="floating">Número de WhatsApp</ion-label>
                    <ion-input type="tel" [(ngModel)]="place.whatsapp" maxlength="15" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
            </ion-item-group>
            <div class="info-text">
                <small>*Opcional</small>
            </div>
            <ion-item color="pagami-surface" class="mb-0">
                <ion-label position="floating">Página Web</ion-label>
                <ion-input type="url" name="website" [(ngModel)]="place.website"></ion-input>
                <ion-icon src="assets/icon/website.svg" slot="start"></ion-icon>
            </ion-item>
            <div class="info-text">
                <small>*Opcional</small>
            </div>
        </ion-list>

        <ion-list class="inputs-container item-group-flex">
            <ion-label class="ion-label--title">Tipo de Negocio</ion-label>
            <ion-item lines="none" class="checkbox-container">
                <ion-checkbox color="pagami" slot="start" name="store" (click)="selectTypeStore()" [(ngModel)]="isStore"></ion-checkbox>
                <ion-label>Tienda</ion-label>
            </ion-item>
            <ion-item lines="none" class="checkbox-container">
                <ion-checkbox color="pagami" slot="start" name="service" (click)="selectTypeService()" [(ngModel)]="isService"></ion-checkbox>
                <ion-label>Servicios</ion-label>
            </ion-item>
        </ion-list>

        <div class="footer-button">
            <ion-button [disabled]="saving" class="button-large" expand="block" color="pagami" type="submit">
                <ion-spinner *ngIf="saving" class="spinner-energized"></ion-spinner>
                <span *ngIf="!saving">Continuar</span>
            </ion-button>
        </div>
    </form>
</ion-content>
