ion-tab-bar {
    border: 0 !important;
    --background: #2d3748;
    height: 48px;
    box-shadow: 0px -1px 2px 0px #1a202c;

    .tab-button {
        --color: #a0aec0;
        --color-selected: #fff;
        &__icon{
            width: 20px;
            // height: 20px;
        }
        ion-label {
            font-family: 'Quicksand', 'Roboto', sans-serif;
            font-weight: 500;
        }
    }
}

@media (max-width: 390px) {
    .d-none-tab {
        display: none;
    }
}

