/* BACKGROUND IF NOT REGISTERS */
.no-registers {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-img {
        max-width: 70px;
    }

    ion-text {
        margin-top: 28px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: center;
        color: #A0AEC0;
        span {
            font-size: 14px;
        }
    }
}
/* END REGISTERS */
/*  ***********************  */
