// Quicksand
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf');
    font-variation-settings: 'wdth' 700, 'wght' 300;
    font-display: fallback;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/static/Quicksand-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/static/Quicksand-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/static/Quicksand-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/static/Quicksand-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/quicksand/static/Quicksand-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

// Quattrocento
@font-face {
    font-family: 'Quattrocento';
    src: url('../assets/fonts/quattrocento/Quattrocento-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Quattrocento';
    src: url('../assets/fonts/quattrocento/Quattrocento-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}


