<ion-header>
    <ion-toolbar [class]="haveHours ? 'toolbar-dual' : 'toolbar-simple'">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/my-business"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Horario</ion-title>
        <ion-buttons slot="end" *ngIf="haveHours">
            <ion-button (click)="confirmDelete()">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-list [ngSwitch]="businessHours.type">
        <ion-item>
            <ion-select class="select" interface="popover" placeholder="Elige como sera tu horario" [(ngModel)]="businessHours.type" (ngModelChange)="resetValues()">
                <ion-select-option [value]="1">Lunes a domingo</ion-select-option>
                <ion-select-option [value]="2">Lunes a viernes, sabado, domingo</ion-select-option>
                <ion-select-option [value]="3">Personalizar cada dia</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngSwitchCase="1" class="ion-margin-vertical">
            <div id="mondayToSunday">
                <ion-item lines="none">
                    <ion-label>Lunes a Domingo</ion-label>
                </ion-item>
                <div class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.monday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.monday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.monday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.monday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.monday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="2" class="ion-margin-vertical">
            <div id="mondayToFriday">
                <ion-item lines="none">
                    <ion-label>Lunes a Viernes</ion-label>
                </ion-item>
                <div class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.monday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.monday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.monday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.monday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.monday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="saturdayOnly">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Sabado</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.saturday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.saturday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.saturday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.saturday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.saturday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.saturday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.saturday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.saturday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.saturday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.saturday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="sundayOnly">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Domingo</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.sunday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.sunday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.sunday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.sunday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.sunday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.sunday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.sunday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.sunday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.sunday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.sunday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="3" class="ion-margin-vertical">
            <div id="monday">
                <ion-item lines="none">
                    <ion-label>Lunes</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.monday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.monday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.monday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.monday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.monday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.monday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.monday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.monday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.monday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.monday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="tuesday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Martes</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.tuesday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.tuesday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.tuesday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.tuesday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.tuesday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.tuesday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.tuesday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.tuesday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.tuesday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.tuesday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.tuesday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.tuesday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.tuesday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.tuesday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="wednesday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Miercoles</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.wednesday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.wednesday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.wednesday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.wednesday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.wednesday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.wednesday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.wednesday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.wednesday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.wednesday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.wednesday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.wednesday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.wednesday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.wednesday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.wednesday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="thursday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Jueves</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.thursday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.thursday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.thursday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.thursday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.thursday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.thursday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.thursday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.thursday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.thursday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.thursday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.thursday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.thursday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.thursday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.thursday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="friday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Viernes</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.friday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.friday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.friday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.friday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.friday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.friday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.friday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.friday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.friday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.friday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.friday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.friday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.friday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.friday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="saturday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Sabado</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.saturday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.saturday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.saturday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.saturday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.saturday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.saturday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.saturday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.saturday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.saturday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.saturday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.saturday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
            <div id="sunday">
                <ion-item lines="none" class="item-title-day">
                    <ion-label>Domingo</ion-label>
                    <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.sunday.active"></ion-checkbox>
                </ion-item>
                <div *ngIf="!businessHours.sunday.active" class="ion-text-center">Cerrado</div>
                <div *ngIf="businessHours.sunday.active" class="ion-margin-horizontal">
                    <ion-item lines="none">
                        <ion-label>Horario en dos turnos</ion-label>
                        <ion-checkbox slot="end" name="orders" color="pagami" [disabled]="updating" [(ngModel)]="businessHours.sunday.breakTime"></ion-checkbox>
                    </ion-item>
                    <ion-item-group class="item-group-time">
                        <ion-label *ngIf="businessHours.sunday.breakTime">1</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [max]="" [(ngModel)]="businessHours.sunday.hoursOne.from" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursOne, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [min]="" [(ngModel)]="businessHours.sunday.hoursOne.to" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursOne, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group class="item-group-time" *ngIf="businessHours.sunday.breakTime">
                        <ion-label>2</ion-label>
                        <ion-item lines="none">
                            <ion-label>Desde</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.sunday.hoursTwo.from" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursTwo, hourType.FROM)"></ion-datetime>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-label>Hasta</ion-label>
                            <ion-datetime displayFormat="hh:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="businessHours.sunday.hoursTwo.to" (ngModelChange)="parseDateToTime($event, businessHours.sunday.hoursTwo, hourType.TO)"></ion-datetime>
                        </ion-item>
                    </ion-item-group>
                </div>
            </div>
        </div>
    </ion-list>
    <div class="footer-button footer-button--div">
        <ion-button class="button-large" color="pagami" [disabled]="updating" (click)="validateHours()">
            <ion-spinner *ngIf="updating" class="spinner-energized"></ion-spinner>
            <span *ngIf="!updating">Guardar</span>
        </ion-button>
    </div>
</ion-content>
