<ion-header>

    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/my-business"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Tiendas D1 - Mis productos</ion-title>
<!--        <ion-buttons slot="end" class="right-button">-->
<!--            <ion-icon name="cart"></ion-icon>-->
<!--        </ion-buttons>-->
    </ion-toolbar>

</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>


<ion-content>
    <ion-header class="top-searchbar">
        <ion-searchbar placeholder="Buscar productos"></ion-searchbar>
    </ion-header>

    <ion-list inset="false" lines="none" class="products">
        <ion-item button detail="false"
                  color="pagami-surface"
                  class="product ion-no-padding"
                  *ngFor="let product of products"
                  (click)="openProduct(product)">
            <ion-avatar class="avatar-square product-image">
                <ion-img [src]="product.photoUrl"></ion-img>
            </ion-avatar>
            <ion-label class="product-name">
                {{product.name}} <br>
                <span class="product-price">COP ${{product.price}}</span>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-corner-lr">
        <ion-fab-button color="pagami" routerLink="/app/my-products/add-product">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
