.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    ion-avatar {
        width: 50px;
        height: 50px;
        transition: .4s;
        &:hover {
            opacity: .7;
        }
    }
}

.list-md {
    padding: 8px;
}

.item-activity {
    color: #A0AEC0 !important;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;

    ion-icon {
        width: 20px;
    }

    ion-icon.ios {
        margin: 0;
    }
}

.card-place {
    background: #2D3748;
    border-radius: 3px;

    ion-card-subtitle {
        font-size: 12px;
        color: #718096;
        text-transform: unset;
    }

    ion-card-header {
        padding: 10px 10px 0;
    }

    ion-card-content {
        padding: 0 10px 5px 10px;
        font-size: 12px;
        color: #A0AEC0;

        ion-col {
            display: flex;
            align-items: center;
        }

        ion-avatar {
            border: 2px solid;
            width: 40px;
            height: 40px;
        }

        ion-card-title {
            font-size: 14px;
            font-weight: normal;
            color: #FFF;
        }

    }
}

.card-money {
    margin-bottom: 25px;
    background: #2D3748;
    border-radius: 3px;

    ion-card-content {
        font-size: 13px;
        color: #A0AEC0;
    }
}


ion-card-title {
    font-size: 32px;
    font-weight: normal;
    color: #FFF;
}

.footer-button {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* *****STATUS CARDS***** */
span.status--verified {
    color: #68D391;
}

ion-text.status--verified {
    color: #FFFFFF;

    &:before {
        content: "+";
    }
}

.status--accepted {
    color: #FBD38D;
}

.status--waiting {
    color: #999;
}

.status--rejected {
    color: #E53E3E;
}

span.status--transfer {
    color: #63B3ED;
}

ion-text.status--transfer {
    color: #FFFFFF;

    &:before {
        content: "-";
    }
}

.status--incomplete {
    color: #ffbe25;
}




