<div class="ion-grid-claims">
    <ion-grid class="no-pb">
        <ion-row class="scrollable-draw">
            <div class="scrollable-draw-children" [ngClass]="drawerState == 2 ? 'background-transparent' : ''"></div>
        </ion-row>
        <h2 class="ion-text-center nearby-title">
            Destacados en tu área
        </h2>
        <ion-row class="footer-button">
            <ion-col class="6">
                <ion-button class="button-large btn-category" expand="block"
                            color="{{selectedCategory === 0 ? 'pagami' : 'pagami-surface'}}"
                            [ngClass]="{'selected-category': selectedCategory === 0}"
                            (click)="selectedCategory = 0">
                    Tiendas
                    <ion-icon src="assets/icon/check-circle-solid.svg" class="btn-category__check"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="6">
                <ion-button class="button-large btn-category" expand="block"
                            color="{{selectedCategory === 1 ? 'pagami' : 'pagami-surface'}}"
                            [ngClass]="{'selected-category': selectedCategory === 1}"
                            (click)="selectedCategory = 1">
                    Servicios
                    <ion-icon src="assets/icon/check-circle-solid.svg" class="btn-category__check"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngIf="selectedclaim">
            <ion-card button color="pagami-surface" class="card" (click)="goToShopDetails(selectedclaim)">
                <div class="card-img-contain">
                    <ion-skeleton-text
                        class="card-img-skeleton"
                        [hidden]="selectedclaim.loaded"
                        animated>
                    </ion-skeleton-text>
                    <ion-img
                        [style.opacity]="selectedclaim.loaded ? 1 : 0"
                        [src]="selectedclaim.photoUrl" class="card-img"
                        (ionImgDidLoad)="selectedclaim.loaded = true">
                    </ion-img>
                </div>
                <ion-card-header class="card-header">
                    <ion-card-subtitle class="card-subtitle">
                        <ion-icon [src]="'assets/category-icons/'+selectedclaim.category.icon+'.svg'" class="size-icon-mini"></ion-icon>&nbsp;
                        <ion-label>{{selectedclaim.category.name | uppercase}}</ion-label>
                    </ion-card-subtitle>
                    <ion-card-title class="nearby-title">
                        {{selectedclaim.name}}
                        <ion-icon *ngIf="selectedclaim.status === STATUS.VERIFIED" name="shield-checkmark" color="success"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle class="card-subtitle">
                        Abierto · {{messageDistance(selectedclaim.distance)}}
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-row>
        <ion-row *ngFor="let claim of nearclaims;" [hidden]="selectedclaim && selectedclaim.id === claim.id">
            <ion-card button color="pagami-surface" class="card" (click)="goToShopDetails(claim)">
                <div class="card-img-contain">
                    <ion-skeleton-text
                        class="card-img-skeleton"
                        [hidden]="claim.loaded"
                        animated>
                    </ion-skeleton-text>
                    <ion-img
                        [style.opacity]="claim.loaded ? 1 : 0"
                        [src]="claim.photoUrl"
                        class="card-img"
                        (ionImgDidLoad)="claim.loaded = true">
                    </ion-img>
                </div>
                <ion-card-header class="card-header">
                    <ion-card-subtitle class="card-subtitle">
                        <ion-icon [src]="'assets/category-icons/'+claim.category.icon+'.svg'"></ion-icon>&nbsp;
                        <ion-label>{{claim.category.name | uppercase}}</ion-label>
                    </ion-card-subtitle>
                    <ion-card-title class="nearby-title">
                        {{claim.name}}
                        <ion-icon *ngIf="claim.status === STATUS.VERIFIED" name="shield-checkmark" color="success" class="size-icon-mini"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle class="card-subtitle">
                        Abierto · {{messageDistance(claim.distance)}}
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-row>
    </ion-grid>
</div>
