.btn-category {
    background: var(--ion-color-pagami-surface);

    &__check {
        position: absolute;
        display: none;
        top: 8px;
        right: 0;
        width: 14px;
    }
}

.selected-category {
    .btn-category__check {
        display: block;
    }
}

.scrollable-draw {
    justify-content: center;
    padding: 8px 8px 0;

    &-children {
        width: 42px;
        height: 4px;
        border-radius: 2px;
        background: #CBD5E0;
    }
}

.nearby-title {
    font-size: 16px;
    color: #FFFFFF;
    margin: 12px 0 2px;
}

.size-icon-mini {
    position: relative;
    top: 2px;
    width: 12px;
}

.card {
    width: 100%;
    margin: 10px;
    &-img-contain {
        height: 210px;
        position: relative;

        .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .card-img-skeleton {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

    &-header{
        padding: 10px 16px;
    }
    &-subtitle {
        font-size: 14px;
        color: #718096 !important;
        margin: 3px;
    }
}

.footer-button {
    padding: 12px 7px 0;

    ion-button{
        margin: 0;
    }
}

.ion-grid-places {
    min-height: calc(100vh - (62px + 48px));
}




