<div class="ion-grid-places">
    <ion-grid class="no-pb pan-active" (click)="onBarClick()">
        <ion-row class="scrollable-draw pan-active">
            <div class="scrollable-draw-children pan-active" [ngClass]="drawerState == 2 ? 'background-transparent' : ''"></div>
        </ion-row>
        <h2 class="ion-text-center nearby-title pan-active">
            Destacados en tu área
        </h2>
        <ion-row class="footer-button pan-active" [hidden]="this.searchText && this.searchText.length > 0 && this.drawerState == 2">
            <ion-col class="6 pan-active">
                <ion-button class="button-large btn-category pan-active" expand="block"
                            color="{{selectedCategory === 0 ? 'pagami' : 'pagami-surface'}}"
                            [ngClass]="{'selected-category': selectedCategory === 0}"
                            (click)="selectedCategory = 0; emitSelectedPlaceType()">
                    Tiendas
                    <ion-icon src="assets/icon/check-circle-solid.svg" class="btn-category__check pan-active"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="6">
                <ion-button class="button-large btn-category pan-active" expand="block"
                            color="{{selectedCategory === 1 ? 'pagami' : 'pagami-surface'}}"
                            [ngClass]="{'selected-category': selectedCategory === 1}"
                            (click)="selectedCategory = 1; emitSelectedPlaceType()">
                    Servicios
                    <ion-icon src="assets/icon/check-circle-solid.svg" class="btn-category__check pan-active"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list [ngClass]="{'with-overflow-y': drawerState == 2 }">
        <div class="progress-bar-container">
            <ion-progress-bar type="indeterminate" color="pagami" *ngIf="searching"></ion-progress-bar>
        </div>
        <ion-row *ngIf="selectedPlace">
            <ion-card button color="pagami-surface" (click)="savePlaceToShowDetails(selectedPlace)" class="card" routerLink="/app/shop">
                <div class="card-img-contain">
                    <ion-skeleton-text
                        class="card-img-skeleton"
                        [hidden]="selectedPlace.loaded"
                        animated>
                    </ion-skeleton-text>
                    <ion-img
                        [src]="selectedPlace.photoUrl"
                        class="card-img"
                        (ionImgDidLoad)="selectedPlace.loaded = true">
                    </ion-img>
                </div>
                <ion-card-header class="card-header">
                    <ion-card-subtitle class="card-subtitle">
                        <ion-icon [src]="'assets/category-icons/'+selectedPlace.category.icon+'.svg'" class="size-icon-mini"></ion-icon>&nbsp;
                        <ion-label>{{selectedPlace.category.name | uppercase}}</ion-label>
                    </ion-card-subtitle>
                    <ion-card-title class="nearby-title">
                        {{selectedPlace.name}}
                        <ion-icon *ngIf="selectedPlace.status === STATUS.VERIFIED" name="shield-checkmark" color="success"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle class="card-subtitle">
                        <span *ngIf="selectedPlace.hours">{{messageStatusIsOpen(selectedPlace.hours)}} · </span>{{messageDistance(selectedPlace.distance)}}
<!--                        {{messageDistance(selectedPlace.distance)}}-->
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-row>
        <ion-row *ngFor="let place of nearPlaces" [hidden]="(selectedPlace && selectedPlace.id === place.id) || !shouldShowPlace(place)">
            <ion-card button color="pagami-surface" (click)="savePlaceToShowDetails(place)" class="card" routerLink="/app/shop">
                <div class="card-img-contain">
                    <ion-skeleton-text
                        class="card-img-skeleton"
                        [hidden]="place.loaded"
                        animated>
                    </ion-skeleton-text>
                    <ion-img
                        [src]="place.photoUrl"
                        class="card-img"
                        (ionImgDidLoad)="place.loaded = true">
                    </ion-img>
                </div>
                <ion-card-header class="card-header">
                    <ion-card-subtitle class="card-subtitle">
                        <ion-icon [src]="'assets/category-icons/'+place.category.icon+'.svg'"></ion-icon>&nbsp;
                        <ion-label>{{place.category.name | uppercase}}</ion-label>
                    </ion-card-subtitle>
                    <ion-card-title class="nearby-title">
                        {{place.name}}
                        <ion-icon *ngIf="place.status === STATUS.VERIFIED" name="shield-checkmark" color="success" class="size-icon-mini"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle class="card-subtitle">
                        <span *ngIf="place.hours">{{messageStatusIsOpen(place.hours)}} · </span>{{messageDistance(place.distance)}}
<!--                        {{messageDistance(place.distance)}}-->
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-row>
    </ion-list>
</div>
