<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/shop/products"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Ordenes</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-header class="top-searchbar">
        <ion-searchbar placeholder="Buscar productos"></ion-searchbar>
    </ion-header>

    <ion-list inset="false" lines="none" class="products">
        <ion-item button routerLink="/app/orders/summary/duhuifh" color="pagami-surface" detail="false" class="product ion-no-padding"
                  *ngFor="let dummy of ' '.repeat(5).split(''), let x = index">
            <ion-avatar class="avatar-square product-image">
                <ion-img src="assets/img/avatar-business.jpg"></ion-img>
            </ion-avatar>
            <ion-label class="product-name">
                <ion-row class="ion-justify-content-between">
                    <ion-col size="6" class="pt-0">
                        <span class="product-stock">
                            <ion-icon name="home" class="size-icon-mini"></ion-icon>
                            Almacenes
                        </span>
                    </ion-col>
                    <ion-col size="5" class="ion-text-right pt-0">
                        <span class="product-price">
                            <ion-icon class="size-icon-mini" name="download"></ion-icon>
                            Recibido
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                    <ion-col size="10" class="pt-0 business-name">
                        <div class="ellipsis">
                            Super Market 3000
                        </div>
                        <ion-icon name="shield-checkmark" class="size-icon-mini" color="success"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                    <ion-col size="5" class="pt-0">
                        <span class="product-price">
                            <ion-icon name="cart" class="size-icon-default"></ion-icon>
                            12
                        </span>
                    </ion-col>
                    <ion-col size="7" class="ion-text-right pt-0">
                        <span class="product-price">
                            <ion-icon name="calculator" class="size-icon-default"></ion-icon>
                            COP $24.000
                        </span>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
        <ion-item button routerLink="/app/orders/summary/duhuifh" color="pagami-surface" detail="false" class="product ion-no-padding"
                  *ngFor="let dummy of ' '.repeat(5).split(''), let x = index">
            <ion-avatar class="avatar-square product-image">
                <ion-img src="assets/img/avatar-business.jpg"></ion-img>
            </ion-avatar>
            <ion-label class="product-name">
                <ion-row class="ion-justify-content-between">
                    <ion-col size="6" class="pt-0">
                        <span class="product-stock">
                            <ion-icon name="home" class="size-icon-mini"></ion-icon>
                            Plomeria
                        </span>
                    </ion-col>
                    <ion-col size="5" class="ion-text-right pt-0">
                        <span class="product-price">
                            <ion-icon class="size-icon-mini" name="checkmark"></ion-icon>
                            Entregado
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                    <ion-col size="10" class="business-name pt-0">
                        <div class="ellipsis">
                            Reparaciones Juanita la del barrio
                        </div>
                        <ion-icon name="shield-checkmark" class="size-icon-mini" color="success"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                    <ion-col size="12" class="pt-0">
                        <div class="product-price ellipsis">
                            <ion-icon name="mail-open" class="size-icon-default"></ion-icon>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam beatae.
                        </div>
                    </ion-col>

                </ion-row>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>

<ion-footer>
    <ion-grid class="ion-padding">
        <ion-row>
            <ion-col size="5">
                <ion-button class="button-small" expand="block" (click)="makeOrder()">Realizar pedido</ion-button>
            </ion-col>
            <ion-col size="7" class="ion-text-right ion-align-self-center">
                <ion-text color="light">Total COP $136.000</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
