.card {
    padding: 10px 2px 10px 2px;
    ion-card-content {
        padding: 0;
    }
}
.cart {
    color: #FFF;
    font-size: 16px;
    ion-icon {
        position: relative;
        top: 5px;
        padding-right: .5rem;
        width: 24px;
        height: 24px;
    }
}
