.top-searchbar{
  width: 92%;
  margin: 4%;
}

.products{
  margin: 20px;
  .product{
    --border-radius: 3px;
    margin-bottom: 20px;
    ion-avatar{
      height: 100%;
      width: 86px;
    }
    ion-label{
        //margin-top: 0;
      margin-left: 8px;
      span{
        font-size: 12px;
      }
    }
  }
}
.size-icon-mini {
    position: relative;
    top: 2px;
    width: 12px;
}
.size-icon-default {
    position: relative;
    top: 4px;
    padding-right: 6px;
    width: 18px;
    height: 18px;
}
.business-name {
    padding-right: 0;
    & .ellipsis {
        display: inline-block;
        width: auto;
        max-width: 100%;
    }
    & .size-icon-mini {
        padding-left: 4px;
        top: -2px;
    }
}
