<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="close-to-me">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Cerca De Mi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-business">
      <ion-icon name="home"></ion-icon>
      <ion-label>Mi Empresa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register-business">
      <ion-icon name="business"></ion-icon>
      <ion-label>Registrar Empresas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Billetera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
