ion-col.md {
    display: flex;
}

.no-register {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-text {
        margin-top: 30px;
        font-size: 20px;
        font-weight: bolder;
        line-height: 27px;
        text-align: center;
    }
}


.header-image {
    &--info {
        position: absolute;
        bottom: 0;

        ion-item {
            --background: transparent;
            height: 35px;
            ion-icon {
                margin-right: 4px;
                color: #FFF
            }
        }
        .info-category {
            font-size: 13px;
            text-transform: uppercase;
            ion-icon {
                width: 18px;
            }
        }
        ion-text {
            font-size: 20px;
            margin-left: 15px;
            display: inline-block;
        }

        .info-title {
            display: flex;
            align-items: center;
            .icon-verified {
                position: relative;
                top: 2px;
            }
            .button-edit {
                --border-radius: 50%;
                width: 25px;
                height: 25px;
                margin-left: 6px;
                margin-top: 3px;
                ion-icon {
                    font-size: 16px;
                }
            }
        }
        .info-rating {
            font-size: 12px;
            ion-icon {
                width: 10px;
                margin-bottom: 10px;
            }
        }

    }
}

img {
    border-radius: 50%;
    position: relative;
    top: 6px;
    margin-left: 4px;
}

.toggles-container {
    margin: 0 10px;

    ion-item {
        margin: 0;
    }
}

.checkbox-container {
    border-bottom: unset;
    border-radius: unset;
    margin-bottom: unset;

    ion-label {
        font-size: 15px !important;
    }
    &--special{
        --padding-start: 0px !important;;
        margin-bottom: 12px;
    }
}

.text-wrap {
    white-space: pre-wrap !important;
}

.group-flex {
    display: flex;
    ion-item:nth-child(1) {
        width: 130px;
        border-radius: 5px 0 0 0;
    }
    ion-item:nth-child(2) {
        width: 100%;
        border-radius: 0 5px 0 0;
    }
}


