<ion-header>
    <ion-toolbar class="toolbar-simple">
        <ion-buttons slot="start">
            <ion-button slot="start" routerLink="/app/tabs/my-business" *ngIf="saved">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-back-button *ngIf="!saved"></ion-back-button>
        </ion-buttons>
        <ion-title class="without-right">Datos de la Empresa</ion-title>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="pagami" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <div class="ion-margin ion-padding-vertical ion-text-center">
        <ion-text class="ion-text-center">
            Para verificación de la empresa debe rellenar el siguiente formulario <i>(esta información no será compartida
            con los usuarios)</i>:
        </ion-text>
    </div>

    <form *ngIf="form" [formGroup]="form">
        <ion-list lines="none" class="inputs-container --with-formGroup">
            <ion-item color="pagami-surface">
                <ion-label position="floating">Rif de la empresa</ion-label>
                <ion-input formControlName="businessRuc" type="text" maxlength="20" [disabled]="saved"></ion-input>
                <ion-icon slot="start" src="assets/icon/email.svg"></ion-icon>
            </ion-item>
            <div class="error-text">
                <small *ngIf="form.get('businessRuc').errors?.required && form.get('businessRuc').touched">*Este campo es requerido</small>
                <small *ngIf="form.get('businessRuc').errors?.maxlength">Máximo 20 carácteres</small>
            </div>

            <ion-item color="pagami-surface">
                <ion-label position="floating">Teléfono de contacto</ion-label>
                <ion-input formControlName="businessPhone" type="text" maxlength="15" [disabled]="saved"></ion-input>
                <ion-icon slot="start" src="assets/icon/call.svg"></ion-icon>
            </ion-item>
            <div class="error-text">
                <small *ngIf="form.get('businessPhone').errors?.required && form.get('businessPhone').touched">*Este campo es requerido</small>
                <small *ngIf="form.get('businessPhone').errors?.pattern && form.get('businessPhone').touched">No es un número válido <br></small>
                <small *ngIf="(form.get('businessPhone').errors?.minlength || form.get('businessPhone').errors?.maxlength) && form.get('businessPhone').touched && !form.get('businessPhone').errors?.pattern">Debe tener entre 8 y 15 caracteres</small>
            </div>

            <ion-item color="pagami-surface">
                <ion-label position="floating">Correo de contacto</ion-label>
                <ion-input formControlName="businessEmail" type="text" [disabled]="saved"></ion-input>
                <ion-icon slot="start" src="assets/icon/email.svg"></ion-icon>
            </ion-item>
            <div class="error-text">
                <small *ngIf="form.get('businessEmail').errors?.required && form.get('businessEmail').touched">*Este campo es requerido</small>
                <small *ngIf="form.get('businessEmail').errors?.pattern && form.get('businessEmail').touched">No es un correo valido</small>
            </div>

            <ion-item color="pagami-surface">
                <ion-label position="floating">Notas o comentarios (opcional)</ion-label>
                <ion-textarea rows="6" maxlength="300" formControlName="businessComment" [disabled]="saved"></ion-textarea>
            </ion-item>
            <div class="error-text">
                <small *ngIf="form.get('businessComment').errors?.minlength && form.get('businessComment').touched">Mínimo 5 carácteres y máximo 300</small>
            </div>
        </ion-list>

    </form>

    <ion-footer *ngIf="!saved" class="footer-button footer-button--div">
        <ion-button class="button-large" expand="block" color="pagami" type="submit" [disabled]="form.invalid" (click)="saveData()">
            Enviar datos
        </ion-button>
    </ion-footer>
</ion-content>


