
<ion-content>

    <ion-list>
        <ion-item-group *ngIf="!loading && !error && !empty">

            <ion-card button class="ion-margin-bottom" color="pagami-surface">
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-text class="text-gray">Registradas</ion-text>
                            <p>{{this.registers.length}}</p>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text class="text-gray">Verificadas</ion-text>
                            <p>{{filterRegisters(STATUS.VERIFIED)}}</p>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text class="text-gray">No verificadas</ion-text>
                            <p>{{filterRegisters(STATUS.ACCEPTED)}}</p>
                        </ion-col>
                        <ion-col size="4">
                            <ion-text class="text-gray">Vencidas</ion-text>
                            <p>{{filterRegisters(STATUS.DISABLED)}}</p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

            <ion-card class="card card-admin-3rows"
                      *ngFor="let register of registers">
                <ion-card-content class="ion-no-padding">
                    <ion-row>
                        <ion-col size="2" class="ion-justify-content-center">
                            <ion-avatar class="border-white-1px">
                                <ion-img [src]="placeThumbnailPhoto(register)"></ion-img>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="10" class="">
                            <ion-card-subtitle>
                                {{ register.createTime | date:'d/M/y'}} · {{ register.createTime | date:'shortTime'}}
                            </ion-card-subtitle>
                            <ion-card-title>
                                {{register.name | capitalize}}
                                <span [ngSwitch]="register.status">
                                    <ion-icon *ngSwitchCase="STATUS.VERIFIED" name="shield-checkmark" [classList]="['status status--'+register.status | lowercase]"></ion-icon>
                                    <ion-icon *ngSwitchCase="STATUS.REJECTED" name="close-circle" [classList]="['status status--'+register.status | lowercase]"></ion-icon>
                                    <ion-icon *ngSwitchCase="STATUS.ACCEPTED" name="time-outline" [classList]="['status status--'+register.status | lowercase]"></ion-icon>
                                </span>
                            </ion-card-title>
                            <ion-card-subtitle>
                                Se unio el {{ register.createTime | date:'d MMMM'}} de {{ register.createTime | date:'y'}}
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item-group>

        <ion-item-group *ngIf="loading || error">
            <ion-card class="ion-margin-bottom" color="pagami-surface">
                <ion-card-content>
                    <ion-row>
                        <ion-col size="12">
                            <ion-skeleton-text [animated]="!error" style="width: 30%"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-skeleton-text [animated]="!error" style="width: 80%"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-skeleton-text [animated]="!error" style="width: 80%"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-skeleton-text [animated]="!error" style="width: 80%"></ion-skeleton-text>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

            <ion-card class="card card-admin-3rows" *ngFor="let dummy of ' '.repeat(5).split('')">
                <ion-card-content class="ion-no-padding">
                    <ion-row>
                        <ion-col size="2" class="ion-justify-content-center">
                            <ion-avatar class="border-white-1px">
                                <ion-skeleton-text></ion-skeleton-text>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="10" class="">
                            <ion-card-subtitle style="width: 30%">
                                <ion-skeleton-text [animated]="!error"></ion-skeleton-text>
                            </ion-card-subtitle>
                            <ion-card-title style="width: 60%">
                                <ion-skeleton-text [animated]="!error"></ion-skeleton-text>
                            </ion-card-title>
                            <ion-card-subtitle style="width: 70%">
                                <ion-skeleton-text [animated]="!error"></ion-skeleton-text>
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item-group>

    </ion-list>

    <app-background-empty *ngIf="empty" [title]="'Aun no hay registros'"
                          [text]="'Cuando hayan empresas se veran aqui'"></app-background-empty>

</ion-content>
