.list-md {
    padding: 8px;
}

.text-gray {
    color: #A0AEC0;
    font-size: 14px;
}

@media (max-width: 380px) {
    .text-gray {
        font-size: 12px;
    }
}

.button-reload {
    height: fit-content;
    margin: 0;

    .icon-reload {
        color: #A0AEC0;
        font-size: 20px;
    }
}



