.list-md {
    padding: 8px;
}

.text-gray {
    color: #A0AEC0;
    font-size: 14px;
}

@media (max-width: 380px) {
    .text-gray {
        font-size: 12px;
    }
}

/* *****STATUS CARDS***** */
.status{
    position: relative;
    top: 2px;

    &--verified {
        color: #68D391;
    }
    &--accepted {
        color: #FBD38D;
    }
    &--waiting {
        color: #999;
    }
    &--rejected {
        color: #E53E3E;
    }
    &--transfer {
        color: #63B3ED;
    }
    &--incomplete{
        color: #ffbe25;
    }
}




