/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Animaciones */
@import "assets/css/animated.min.css";

/* Headers and Toolbars */
@import "assets/css/headers-toolbars.scss";

/* Inputs and forms */
@import "assets/css/inputs.scss";

/* ***BUTTON IN TUTORIAL AND TERMS*** */
.footer-button {
    padding: 17px;
    background: var(--ion-background-color);

    &.--without-pt {
        padding-top: 0;
    }
    &--div {
        position: absolute;
        background: transparent;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
.button-large, .button-small {
    height: 56px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    text-transform: unset;
    transition: ease .4s;
}

.button-small {
    height: 36px;
}
/* END button */
/*  ***********************  */


/* ***ALERTS IN PROFILE *** */
.sc-ion-alert-ios-h {
    --background: var(--ion-color-pagami-surface) !important;
}

.alert-wrapper {
    max-width: 90% !important;
}
/* END alerts */
/*  ***********************  */

/* ***PRODUCTS CONTAINER AND ITEMS (STANDARD DESIGN)*** */
.products {
    margin: 20px;
    .product {
        --border-radius: 3px;
        margin-bottom: 20px;

        &-image {
            height: 100%;
            width: 60px;
        }
        &-name {
            margin-left: 20px;
        }
        &-stock {
            color: var(--ion-color-pagami-text-2nd)
        }
        &-price, &-quantity, &-stock {
            font-size: 12px;
        }
    }
}
/* END products */
/*  ***********************  */

/* ***TOAST IN ALL PAGES*** */
.toast-bottom-custom {
    width: 95%;
    transform: translateY(-130px) translateX(3%);
}
.toast-bottom-custom-without-tabs {
    width: 95%;
    transform: translateY(-80px) translateX(3%);
}
/* END toast */
/*  ***********************  */

/* PROGRESS BAR CONTAINER */
.progress-bar-container{
    height: 5px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 56px;
}
/* END progress bar */
/*  ***********************  */

/* CARDS */

.card-admin-3rows {
    background: #2D3748;
    border-radius: 3px;
    padding: 10px;

    ion-card-subtitle {
        font-size: 12px;
        color: #718096;
        text-transform: unset;
    }

    ion-card-content {
        font-size: 12px;
        color: #A0AEC0;

        ion-col {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        ion-avatar {
            border: 2px solid;
            width: 40px;
            height: 40px;
        }

        ion-card-title {
            font-size: 14px;
            font-weight: normal;
            color: #FFF;
        }

    }
}
/* END Cards */
/*  ***********************  */


ion-bottom-drawer {
    background: transparent !important;
    --background: transparent !important;

    ion-content {
        --background: transparent;
        background: transparent;
    }
}

/* ****EXTRAS***** */
.swiper-pagination-bullet-active {
    --bullet-background-active: #f6ad55;
}

.border-white-1px {
    border: 1px solid #FFFFFF;
}

.avatar-square {
    --border-radius: 0;
    margin: 0;
}

.size-icon-default {
    width: 24px;
    height: 24px;
}
.icon-white{
    filter: invert(97%) sepia(0%) saturate(7494%) hue-rotate(187deg) brightness(102%) contrast(103%);
}

.fab-corner-lr {
    bottom: 16px;
    right: 16px;
}

.background-transparent {
    --background: transparent !important;
    background: transparent !important;
}

.with-overflow-y {
    overflow-y: scroll !important;
}

.d-none {
    display: none !important;
}
.w-100 {
    width: 100% !important;
}
.pagami-text-2nd{
    color: var(--ion-color-pagami-text-2nd);
}
.btn-no-style {
    --box-shadow: unset;
    --background: transparent;
}


.modal-fade{
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 6s;

    @keyframes fade-in-out {
        0%   { opacity: 0;}
        20%  { opacity: 1;}
        80%  { opacity: 1;}
        100% { opacity: 0;}
    }
}

.map-canvas {
    position: absolute;

    height: 100%;
    width: 100%;

    background-color: whitesmoke;
    transition: opacity 150ms ease-in;
}

a[rel='noopener'] div img, .gmnoprint {
    opacity: 0;
}

.gm-style-iw, .gm-style-iw-c {
    display: none;
}


